* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-size: 62.5%;
  }
  
  body {
    background-color: #242424;
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/calc.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1 {
    color: #ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
  }

  h1 strong {
    color: #23bd37;
    font-weight: 700;
  }
  
  form {
    width: 30%;
    margin: 0 auto 30px;
    border-radius: 14px;
    padding: 30px;
    background-color: #374151;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 900;
    color: #E5E7EB;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #111827;
    border: #374151 1px solid;
    border-radius: 4px;
    color: #E5E7EB;
  }
  
  input[type="button"] {
    width: 90%;
    padding: 10px;
    background-color: #23bd37;
    color: #F9FAFB;
    border-radius: 4px;
    border: #1ea330 1px solid;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #1ea330;
  }
  
  #message-container {
    width: 300px;
    position: relative;
    background-color: #111827;
    color: #E5E7EB;
    font-size: 2rem;
    padding: 40px 20px 20px;
    border-radius: 4px;
    text-align: center;
    display: none;
  }

  #message-container.open {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    gap: 6px;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #message-container button {
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: #F9FAFB;
    font-size: 2rem;
    transition: all .5s;

    cursor: pointer;
    border: none;
  }

  #message-container button:hover {
    color: #ff0000;
  }